/* Basic configuration */
body {
    background-color: rgb(1, 1, 53);
    color: rgb(245, 245, 255);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Header */
header {
    background-color: rgb(8, 8, 75);
}

header h1 {
    padding: 20px;
    margin-top: 0;
}

/* New Counter Portal */
#createCounterPortal {
    margin-bottom: 25px;
    margin-top: 25px;
}

label {
    font-weight: bold;
}

input {
    background-color: rgb(12, 12, 90);
    border: none;
    border-radius: 10px;
    color: rgb(245, 245, 255);
    margin-right: 10px;
    padding: 10px;
    color-scheme: dark;
}

textarea {
    background-color: rgb(12, 12, 90);
    border: none;
    border-radius: 10px;
    color: rgb(245, 245, 255);
    margin-left: 10px;
    padding: 5px;
}

#counterForm {
    display: flex;
    align-items: center;
    gap: 14px;
    justify-content: center;
}

#counterForm label {
    display: flex;
    align-items: center;
    gap: 6px;
}

#counterForm input,
#counterForm textarea {
    width: 300px;
    height: 50px;
    box-sizing: border-box;
}

button {
    background-color: rgb(12, 12, 90);
    color: rgb(245, 245, 255);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    margin-left: 10px;

    transition: 0.2s;
}

button:hover {
    background-color: rgb(25, 25, 130);
    transform: scale(1.05);
    cursor: pointer;
}

/* Counter */
.counter {
    background-color: rgb(12, 12, 90);
    border-radius: 25px;
    width: 320px;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
}

#counters {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
}

.deleteCounterBtn {
    background-color: rgb(1, 1, 53);
}

/* Footer */
footer {
    background-color: rgb(8, 8, 75);
    padding: 15px;
}

footer a {
    color: rgb(245, 245, 255);
}